<!DOCTYPE html>
<html>
  <head>
    <title>CVExchange</title>
  </head>
  <body>
    <h1>Overview for the posts of the user with ID: <%= posts[0].creator_id %></h1>
    <% for (let post of posts) { %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Created: <%= post.datetime %></p>
      </div>
      <form method="POST" action="/posts/delete/<%= post.id %>">
        <input type="hidden" name="id" value="<%= post.id %>">
        <button type="submit">Delete</button>
      </form>
    <% } %>
  </body>
</html>