<h1><%= post.title %></h1>
<p><%= post.text %></p>
<p>Rating: <%= post.rating %></p>
<form method="POST" action="/votes/ratepost">
  <input type="hidden" name="postId" value="<%= post.id %>">
  <input type="hidden" name="rating" value=1>
  <input type="hidden" name="page" value="/posts/<%= post.id %>">
  <input type="submit" value="Upvote">
</form>
<form method="POST" action="/votes/ratepost">
  <input type="hidden" name="postId" value="<%= post.id %>">
  <input type="hidden" name="rating" value=-1>
  <input type="hidden" name="page" value="/posts/<%= post.id %>">
  <input type="submit" value="Downvote">
</form>

<h2>-Comment Section-</h2>
  <form method="POST" action="/comments/new">
    <input type="hidden" name="postId" value="<%= post.id %>">
    <label for="comment">Add a Comment:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit">
  </form>
  <div>
    <% for (let comment of comments) { %>
      <div class="comment">
        <p><%= comment.text %></p>
        <p><%= comment.creator_name %> commented on: <%= comment.datetime %></p>
        <p>Rating: <%= comment.rating %></p>
        <form method="POST" action="/votes/ratecomment">
          <input type="hidden" name="postId" value="<%= post.id %>">
          <input type="hidden" name="commentId" value="<%= comment.id %>">
          <input type="hidden" name="rating" value=1>
          <input type="hidden" name="page" value="/posts/<%= post.id %>">
          <input type="submit" value="Upvote">
        </form>
        <form method="POST" action="/votes/ratecomment">
          <input type="hidden" name="postId" value="<%= post.id %>">
          <input type="hidden" name="commentId" value="<%= comment.id %>">
          <input type="hidden" name="rating" value=-1>
          <input type="hidden" name="page" value="/posts/<%= post.id %>">
          <input type="submit" value="Downvote">
        </form>
        <% if(comment.creator_id === req.userId) { %>
          <form method="GET" action="/comments/edit/<%= comment.id %>">
            <input type="submit" value="Edit">
          </form>
          <form method="POST" action="/comments/delete/<%= comment.id %>">
            <input type="hidden" name="postId" value="<%= post.id %>">
            <input type="submit" value="Delete">
          </form>
        <% } %>
      </div>
    <% } %>
  </div>