<h1><%= post.title %></h1>
<p><%= post.text %></p>

<h2>-Comment Section-</h2>
  <form method="POST" action="/comments/new">
    <input type="hidden" name="postId" value="<%= post.id %>">
    <label for="comment">Add a Comment:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit">
  </form>
  <div>
    <% for (let comment of comments) { %>
      <div class="comment">
        <p><%= comment.creator_name %> commented on: <%= comment.datetime %></p>
        <p><%= comment.text %></p>
      </div>
    <% } %>
  </div>