<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%- include('../partials/profile-header') %>
<div class="layout-profile">
    <main><%- body %> </main>
    <div class="side-profile">
        <% if (user.profile_picture) { %>
        <img src="/<%= user.profile_picture %>" alt="Profile picture">
        <% } 
        else { %>
        <img src="/img/default.png" alt="Profile picture">
        <% } %>
        <% if( parseInt(req.userId) === parseInt(user.id) ) { %>
        <div>
        <form name="uploadForm" method="post" enctype="multipart/form-data" action="/files/upload">
            <input type="file" name="profilePicture" onchange="filterImage()">
            <button type="submit">Upload</button>
        </form>
        <form method="get" action="/files/delete">
            <button type="submit">Delete</button>
        </form>
        </div>
        <% } %>
        <div class="user-stats">
            <p> <span class="fat"> <%= user.name %> </span> </p>
            <p> <span class="fat"> <%= posts.reduce((total, post) => total + post.rating, 0) %> </span> post karma </p>
            <p> <span class="fat"> <%= comments.reduce((total, comment) => total + comment.rating, 0) %> </span> comment karma </p>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>


<% if(!req.cookies.jwtToken) { %>
<script>
const loginRequiredElements = document.querySelectorAll('.login-required')
console.log(document.cookie)
loginRequiredElements.forEach(element => {
  element.addEventListener('click', event => {
    if (!document.cookie.includes('jwtToken')) {
      event.preventDefault()
      window.location.href = '/user/login'
    }
  })
})
</script>
<% } %>

<script>
function filterImage() {
    const fileInput = document.uploadForm.profilePicture

    if (!(/\.(jpg|jpeg|png)$/i).test(fileInput.value)) {              
        alert('Please select an image file')
        fileInput.value = ''
    }
    if(fileInput.files[0].size > 5000000) {
        alert('Please select a file under 5MB')
        fileInput.value = ''
    }
}
</script>


</body>
</html>