<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<%- include('../partials/sub-header') %>
<div class="layout-frontpage">

    <main><%- body %></main>
    
    <side>
      <div class="searchbar">
        <form action="/subs/search/<%= sub.id %>" id="searchform">
            <input type="text" name="q" placeholder="search">
        </form>
      </div>
    </side>
    
</div>
<%- include('../partials/footer') %>


</body>
</html>